.orders_popup {
  position: absolute;
  width: 670px;
  height: 500px;
  background-color: #ffffff;
  z-index: 300;
  right: 0;
  top: 90px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
