.car {
  display: flex;
  box-sizing: border-box;
  max-width: 300px;
  max-height: 150px;
  padding: 5px;
  background-color: slategray;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid slategray;
  transition: border ease-in-out 0.2s;
  align-items: center;

  &:hover {
    border: 2px solid #ffffff;
  }
}

.image {
  margin-right: 20px;
}

.title {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 5px;
}

.number {
  display: inline-block;
  background-color: #ffffff;
  margin: 0 0 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.status_text {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  margin: 0;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #ff3333;
}

.status_free {
  background-color: #41DC63;
}
